@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
  background-color: #f4f1ea; /* 전체 배경을 은은한 베이지 톤으로 변경 */
  color: #333;
}